 /* body  */

 body{
    background-image:url(ground.png);
    background-repeat:  no-repeat;                         /* 画像の繰り返しを指定  */              
    background-size:cover;                               /* 画像のサイズを指定    */
    width:100%;                                            /* 横幅のサイズを指定    */
    height: 100%;    
}

/* header */
.header{
    height:110px;
background-color:#2195ff;
}

.header img{
    width:24%;
    height:110px;
    margin-left:15%
}

/* main */
.main{
    background-color:white;
    height:1850px;
    margin-left:15%;
    margin-right:15%;
    margin-bottom:40px;
}

.main h1{
    font-size:40px;
    margin-top:30px;
    font-family:"Arial Black";
    padding-top:25px;
    text-align:center;
}

.rule p{
    background-color:lightgreen;
    margin-bottom:10px;
    width:100%;
    padding-top:10px;
    padding-bottom:10px;
    text-align:center;
    font-size:19px;
}

.question{
    text-align:center;
    font-size:15px;
    margin-top:50px;
}

button{
    display:block;
    margin-left:40%;
    font-size:20px;
    background-color:green;
    margin-top:90px;
    width:200px;
    height:100px;
    font-size:30px;
}    

/* footer */
.footer{
    background-color:lightgray;
    height:100px;
}

.footer p{
    color:black;
    text-align:center;
    padding-top:40px;
    font-size:22px
}